@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.body {
  background-color: #000;
  margin: 0;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-family: 'Inter', 'Arial', sans-serif;
  background-image: url(../images/Texture-6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: background-image 2s ease-in-out;
}

.page__background_first {
  background-image: url(../images/Texture-1.jpg);
  transition: background-image 2s ease-in-out;
}

.page__background_second {
  background-image: url(../images/Texture-2.jpg);
  transition: background-image 2s ease-in-out;
}

.page__background_third {
  background-image: url(../images/Texture-3.jpg);
  transition: background-image 2s ease-in-out;
}

.page__background_four {
  background-image: url(../images/Texture-5.jpg);
  transition: background-image 2s ease-in-out;
}

.page__background_five {
  background-image: url(../images/Texture-6.jpg);
  transition: background-image 2s ease-in-out;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header {
  margin: 0;
  padding-left: 80px;
  padding-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    padding-left: 0;
  }
}

.title {
  margin: 0;
  border: ridge #40E0D0 3px;
  max-width: 300px;
  font-weight: 900;
  font-size: 18px;
  line-height: calc(76 / 50);
  text-align: center;
  color: #7FFFD4;
  box-sizing: border-box;
  text-shadow: #000 3px 2px 5px;
  box-shadow: #000 5px 5px 5px;
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  .title {
    max-width: 460px;
    font-weight: 900;
    font-size: 20px;
    border: outset #FFD700 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .title {
    max-width: 300px;
    font-size: 15px;
    border: outset #FFD700 3px;
  }
}

.subtitle {
  margin: 0;
  max-width: 300px;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(76 / 72);
  text-align: center;
  color: #7FFFD4;
  text-shadow: #000 3px 3px 5px;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .subtitle {
    max-width: 300px;
    font-size: 12px;
  }
}

.intro {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.intro__block {
  margin: 0;
  margin-top: 50px;
  width: 70%;
  box-sizing: border-box;
  background-color: rgba(60, 179, 113, .7);
  border-radius: 30px;
  box-shadow: #000 5px 5px 5px;
}

.intro__block:hover {
  animation: scale 1s ease 1 alternate forwards;
  cursor: pointer;
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  .intro__block {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .intro__block {
    max-width: 300px;
    height: 12vh;
  }
}

.intro__text {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: calc(76 / 62);
  text-align: center;
  color: #F0FFF0;
  text-shadow: #000 2px 2px 5px;
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  .intro__text {
    font-size: 34px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .intro__text {
    font-size: 26px;
  }
}

.cards {
  padding: 0 80px 50px 80px; 
  box-sizing: border-box;
  border: solid green 1px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
}

.card {
  margin: 0;
  padding: 10px;
  margin-top: 50px;
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(245, 255, 250, .7);
  border-radius: 10px;
  box-shadow: lime 7px 7px 10px;
}

.card:hover {
  animation: scale 1s ease 1 alternate forwards;
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  .card {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .card {
    max-width: 300px;
  }
}

.card__title {
  margin: 0;
  color: yellow;
  text-shadow: green 1px 1px 5px;
  font-weight: bold;
  font-size: 28px;
  line-height: calc(76 / 72);
  padding-bottom: 10px;
}

.card__list {
  margin: 0;
  color: yellow;
  list-style-type: square;
  list-style-image: linear-gradient(#006600 0%, #00ff00 100%);
  text-shadow: green 1px 1px 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(76 / 72);
  padding-bottom: 20px;
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  .card__list {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .card__list {
    font-size: 24px;
  }
}

.card__item {
  margin-bottom: 10px;
}

.card__item:last-child {
  margin-bottom: 0;
}